// Цвета
$White                    :       #ffffff;
$Black                    :       #000000;

$WhiteFirst               :       #F2F2F2;
$WhiteSecond              :       #F4F4F4;

$SilverFirst              :       #E2E8F4;
$SilverSecond             :       #DEE0E2;
$SilverThird              :       #656565;
$SilverFourth             :       #E3E6E9;
$SilverFifth              :       #B4BAC6;
$SilverSixth              :       #E4EDF7;

$BlueFirst                :       #1a2f5a;
$BlueSecond               :       #4560FE;
$BlueThird                :       #1A4B93;

$AquaFirst                :       #50CDF3;
$AquaSecond               :       #3ABAED;

// Header
$Main                     :       #1A4B93;
$Second                   :       #4A6DD0;
$Third                    :       #727378;
$Support                  :       #e7e7e7;
// Main
$SliderBtn                :       #B0CAFF;
// Projects
$ProjectMain              :       #373737;
$ProjectSecond            :       #2A5BF3;

// Размеры экранов
$DesktopWidth             :       1200px;
$SmDesktopWidth           :       992px;
$TabletWidth              :       768px;
$PhoneWidth               :       576px;

// Миксины

@mixin afs($First, $Second, $Third) {

  // Использование:
  
  // .element {
  //    @include afs(36px, 24px, 18px);
  // }
  
  // Первый размер для планшета+
  // Второй телефон - планшет
  // Третий - телефон и ниже

  @media screen and ( max-width: $TabletWidth ) {
    font-size: $Second;
  }

  @media screen and ( max-width: $PhoneWidth ) {
    font-size: $Third;
  }

  @media screen and ( min-width: $TabletWidth ) {
    font-size: $First;
  }
}

// Глобальные стили
body {
  padding: 0;
  margin: 0;
  font-family: 'Futura PT';
  overflow-x: hidden;
}
.container {
  box-sizing: border-box;
  margin: auto;

  @media screen and ( max-width: $TabletWidth ) {
    width: 100%;
    margin: 0;
  }

  @media screen and ( min-width: $TabletWidth ) {
    width: 750px;
  }

  @media screen and ( min-width: $SmDesktopWidth ) {
    width: 970px;
  }

  @media screen and ( min-width: $DesktopWidth ) {
    width: 1140px;
  }
}
a {
  text-decoration: none
}